<div>
    <div class="about-image">
        <span class="image fit"><img src="{{ site.url }}/assets/images/girl.png" alt="Maria Rydzy"/></span>
    </div>
    <div class="about-text" itemscope itemtype="http://schema.org/Person">
        <p>Zawodowo kręcę się wokół branży IT, ostatnio programując aplikacje webowe (głównie backend
            Scala/Java, ale gdy trzeba to walczę też na froncie, przy pomocy AngularJS).</p>

        <p>Prywatnie głęboko wierzę w istnienie świata poza komputerem. Z racji że dostaję rumieńców ekscytacji od
            bardzo różnych rzeczy, postanowiłam do tej strony-wizytówki dodać hub na artykuły i pomysły, które zdarza mi
            się popełnić.</p>

        Kontakt to: <span itemprop="email">[moje imie]@[moje nazwisko].pl</span>
    </div>
</div>