<div>
    <div class="about-image">
        <span class="image fit"><img src="{{ site.url }}/assets/images/girl.png" alt="Maria Rydzy"/></span>
    </div>
    <div class="about-text" itemscope itemtype="http://schema.org/Person">
        <p>Zawodowo kręcę się wokół branży informatycznej, co sześć miesięcy zmieniając stanowiska w ramach programu liderskiego
            w dziale IT jednej z korporacji. Obecnie pracuję przy wewnętrznym wdrożeniu rozwiązania sprzedażowego opartego na Salesforce
            w krajach Europy zachodniej. <br/>

            Wcześniej pracowałam jako programistka aplikacji webowych (Scala/Java/AngularJS) i bardzo ciągnie mnie do zespołów deweloperskich.

        </p>

        <p>Prywatnie głęboko wierzę w istnienie świata poza komputerem. Z racji że dostaję rumieńców ekscytacji od
            bardzo różnych rzeczy, postanowiłam do tej strony-wizytówki dodać hub na artykuły i pomysły, które zdarza mi
            się popełnić.</p>

        Kontakt to: <span itemprop="email">[moje imie]@[moje nazwisko].pl</span>
    </div>
</div>