<div style="padding-top:80px">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6NJEsNX4YCcFryorJjbHQymv6IrMn1fY"
        type="text/javascript">
    </script>
    <!--<script src="http://maps.google.com/maps/api/js?sensor=true"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.19/gmaps.min.js"></script>
    <script>
        window._myMap = null;
        $(document).ready(function(){
            var map = new GMaps({
                el: '#basic_map',
                lat: 50.054802,
                lng: 19.941271,
                zoom: 14
            });

            map.addControl({
                position: 'top_right',
                content: 'Znajdź w okolicy',
                style: {
                    margin: '5px',
                    padding: '1px 6px',
                    border: 'solid 1px #717B87',
                    background: '#fff'
                },
                events: {
                    click: function(){
                        GMaps.geolocate({
                            success: function(position) {
                                map.setCenter(position.coords.latitude, position.coords.longitude);
                            },
                            error: function(error) {
                                alert('Geolocation failed: '+error.message);
                            },
                            not_supported: function() {
                                alert("Your browser does not support geolocation");
                            }
                        });
                    }
                }
            });

            map.addMarker({
                lat: 50.0511346,
                lng: 19.9459208,
                title: 'Moment',
                infoWindow: {
                    content: document.getElementById('moment').innerHTML
                }
            });

            var openInfoWindow = undefined

            window._myMap = map;
            $(document).on('click', '.pan-to-marker', function(e) {
                e.preventDefault();

                if (openInfoWindow !== undefined) {
                    openInfoWindow.close()
                }

                var id = $(this).data('id');
                var map = window._myMap;
                var markerInstance = map.markers[id];
                markerInstance.infoWindow.open(map.map, markerInstance);
                map.setCenter(markerInstance.position.lat(), markerInstance.position.lng())
                openInfoWindow = markerInstance.infoWindow
            })

            var data = [
                { "id":"kolanko",
                    "name":"Kolanko no 6",
                    "address": "ul.Józefa 18",
                    "cost": "20zł",
                    "lat": 50.050942,
                    "lng": 19.946181,
                    "food": "Bufet śniadaniowy",
                    "description":"Zasada \'jesz ile chcesz\' i spory wybór w bufecie sprawiają, że jest to ulubione miejsce śniadaniowe Marka. Świetne jest to, że nie jesteśmy skazani na jeden rodzaj posiłku, ani napoju - w bufecie są herbata, kawa, mleko, woda, czasami również soki (kiedyś byliśmy w poniedziałek i soków nie było). Są jogurty do płatków, tarty, sałatki, owoce, jajecznica i wędliny. Bezpieczna opcja - każdy znajdzie coś dla siebie, a faceci wyjdą najedzeni."},
                { "id":"alchemia",
                    "name":"Alchemia od kuchni",
                    "address": "ul.Estery 5",
                    "cost": "22zł bufet, 18zł + napoje angielskie",
                    "lat": 50.0523856,
                    "lng": 19.9450071,
                    "food": "Bufet oraz śniadanie angielskie",
                    "description":"Marek ocenił śniadanie AOK jako poprawne, czyli 'no bad feelings' ale spróbujmy innego miejsca. Ja z kolei zakochałam się absolutnie w domowym brioche z serkiem kozim i gruszkami. Najlepsza rzecz jaką jadłam (dwa razy) i której... nie mogę znaleźć w ich obecnym menu!"},
                {
                    "id": "scandale",
                    "name":"Le scandale",
                    "address": "ul.Plac nowy 9",
                    "cost": "19zł + napoje",
                    "lat": 50.0519261,
                    "lng": 19.9445355,
                    "food": "Śniadanie AOK, brioche",
                    "description": "Bufet jak dla mnie wyglądał przeciętnie (Marek był zachwycony, pytanie jednak czy wszechświat jest w stanie go rozczarować bufetem bez ograniczeń...),dlatego zdecydowałam się na śniadanie angielskie i dostałam najśliczniejsze (idealnie okrągłe) jajka sadzone w tym mieście! Całe śniadanie było zdecydowanie dobre, jedyny minus, kiedyś przyszliśmy minutkę po 12 i już nie udało nam się przekonać kelnerów do zaserwowania nam nic z zestawu śniadaniowego."},
                { "id":"mama",
                    "name":"Bagel mama",
                    "address": "ul.Dajwór 10",
                    "cost": "około 27zł/os",
                    "lat": 50.0516176,
                    "lng": 19.9495143,
                    "food": "Śniadanie dla dwojga",
                    "description":
                            "Wzięliśmy zestaw śniadaniowy dla dwóch osób, z całą tacką różnych past i hummusów. Fajnie od czasu do czasu zjeść coś innego, niektóre z nich mega mi smakowały.Nie będzie to jednak moje ulubione miejsce, bo tak już mam, że po naszym tradycyjnym sobotnim śniadaniu lubię być najedzona przez pół dnia, a nie tylko przez pół godziny - a niestety bajgle (pomimo, że pyszne), nie zajęły mojego brzuszka na długo."},
                { "id":"nova",
                    "name":"Nova Resto Bar",
                    "address": "ul.Estery 18",
                    "cost": "około 20zł",
                    "lat": 50.0514727,
                    "lng": 19.9455647,
                    "food": "Letnie jajka w koszulkach ze szparagami",
                    "description":"Do Novej nie mogłam się przez długi czas przekonać - wydawała mi się wielkim miejscem dla burżujów bez fantazji. Znajomi mnie tam kiedyś wyciągnęli i od tego czasu nawet lubię to miejsce - przyszedł więc i czas na śniadanie. Jadłam jajka w koszulkach podane na pełnoziarnistej bułce ze szpinakiem, szparagami grillowanymi w szynce parmeńskiej i sosem holenderskim. Szynki parmeńskiej niestety było tylko symbolicznie, za to sos holenderski - pychota! Marek jadł jakąś kanapkę, jednak była na tyle nie zapadająca w pamięć, że nie możemy sobie jej przypomnieć."},
                { "id":"welldone",
                    "name":"Well done",
                    "address": "ul.Mostowa 2",
                    "cost": "około 20zł",
                    "lat": 50.0483556,
                    "lng": 19.9453768,
                    "food": "Angielskie śniadanie",
                    "description":"Może to dlatego, że to było jedno z naszych pierwszych wyjść na śniadanie, a może to dobre wspomnienia z żeberek w tym miejscu niewiele wcześniej... A może po prostu jedzenie było tak wyśmienite! Faktem jest, że wyszłam z tego śniadania zachwycona. A czego zupełnie nie rozumie, to jakim cudem Marek wyszedł tylko najedzony i zadowolony."},
                { "id":"jeffs",
                    "name":"Jeff's Galeria Kazimierz",
                    "address": "ul.Mostowa 2",
                    "cost": "około 15zł - za 6zł wielka dolewka kawy!",
                    "lat": 50.0530022,
                    "lng": 19.9565344,
                    "food": "The all American, Omlettes",
                    "description":"Miejsce, które chociaż z nazwy powinni kojarzyć wszyscy - dzięki reklamie-sucharkowi o wujku Samie z Ameryki, którymi właściciele raczą nas od lat w niektórych kinach. Użyłam pełnej nazwy \'Jeff\'s Galeria Kazimierz\', bo chociaż tylko tam mamy w Krakowie Jeff\'sa, chciałam koniecznie wspomnieć lokalizację, bo to jest najsłabszy punkt tego miejsca - centrum handlowe w Krakowie, a w Warszawie jakaś ogromna ulica przy której nie ma nic fajnego... Cała reszta to będzie laurka. Jako, że restauracja nazywa się amerykańska to i obsługa stara się prawie tak jak w Stanach. Wraz z Markiem (oraz ogromną większością moich znajomych ze studiów) po prostu uwielbiamy All American - w dodatku to jedyne miejsce śniadaniowe w Polsce, w którym ziemniaczane brownies (nie mam pojęcia jak je poprawnie nazwać). Dodatkowy plusik, za zawsze przepysznie słodki plasterek cytrusa, który zawsze jest ozdobą talerza."},

                { "id":"wesola",
                    "name":"Wesola Cafe",
                    "address": "ul.Rakowicka 17",
                    "cost": "19 (zestaw medium, czyli talerz + napój)",
                    "lat": 50.0669421,
                    "lng": 19.9520498,
                    "food": "Słony talerz z pastami",
                    "description": "Uwielbiam to miejsce za wystrój i kanapki z oscypkiem. Jak chodzi o śniadanie - było ok. Moje pierwsze zetknięcie z hummusami, więc nie wiedziałam czego się spodziewać i ciężko mi je oceniać. Wyszliśmy jednak zadowoleni i najedzeni, więc cel na sobotę został osiągnięty :)."},
                { "id":"trattoria",
                    "name":"Trattoria Cichy Kącik",
                    "address": "ul.Chodowieckiego 1",
                    "cost": "18 (w tym kawa/herbata)",
                    "lat": 50.062786,
                    "lng": 19.9042657,
                    "food": "Śniadanie angielskie",
                    "description": "Świetne miejsce, szczególnie na słoneczny dzień, kiedy można zjeść na zewnątrz w zacisznej okolicy błoń. W sobotę rano jest tam zadziwiająco dużo ludzi - więc nie ma co liczyć na super-szybką obsługę, jednak absolutnie warto! Bardzo dobre śniadanie i pełny brzuszek za rozsądną, jak na Kraków, cenę."},
                { "id":"mercedes",
                    "name":"Mercedes Cafe",
                    "address": "ul.Chodowieckiego 1",
                    "cost": "16/18zł (w tym kawa/herbata)",
                    "lat": 50.0707312,
                    "lng": 19.8942801,
                    "food": "Śniadanie polskie oraz angielskie",
                    "description":"Tak, dobrze widzicie - w salonie Mercedesa jest też kawiarnia. I to w dodatku całkiem przyjemna. Mieszkając niedaleko poszliśmy tam kiedyś na śniadanie. Sam skład był dość poprawny, jednak do naszych śniadań dostaliśmy tylko jeden wspólny koszyczek, w którym było kilka kromek bagietki. Do tego miałam dwa jajka i twarożek, więc wyszłam... głodna. A więc i niezadowolona."},
                { "id":"focha",
                    "name":"Focha 42",
                    "address": "ul.Focha 42",
                    "cost": "18zł (w tym kawa/herbata)",
                    "lat": 50.0566624,
                    "lng": 19.9079666,
                    "food": "Śniadanie angielskie",
                    "description":"Do tego miejsca mieliśmy dwa podejścia. Pewnego zimowego poranka dojechaliśmy tam tylko po to, żeby dowiedzieć się, że... zabrakło jajek. Śniadanie angielskie bez jajek nie może istnieć, więc postanowiliśmy wizytę odłożyć na później. I w końcu udało się. I było warto. Bardzo dobre śniadanie angielskie w oryginalnym wnętrzu za przystępną cenę."},
                { "id":"bococa",
                    "name":"Bococa Bistro",
                    "address": "Plac Inwalidów 7",
                    "cost": "19zł (w tym sok!)",
                    "lat": 50.0695899,
                    "lng": 19.9260991,
                    "food": "Śniadanie angielskie",
                    "description":"Kiedyś wygłodniali weszliśmy do Bococi, usiedliśmy przy stoliku i grzczecznie czekaliśmy... aż przyszła obsługa, stwierdziła, że jest jeszcze nieczynne i nie możemy poczekać w środku 10 minut pozostałych do otwarcia. Kolegę z którym przyszłam bardzo to wkurzyło, więc zmieniliśmy miejsce i dużo czasu zajęło mi przyjście tam znowu. Ale się udało i obsługa była też inna. Bardzo dobre - wielkie! - śniadanie angielskie, z sokiem w zestawie (co jest ogromnym plusem!). Kiełbaski były białe czyli nie zjadłam ich jeszcze bardziej niż zawsze, ale Markowi smakowało."},
                { "id":"bococa",
                    "name":"Dynia Resto Bar",
                    "address": "ul. Krupnicza 20",
                    "cost": "21,90zł/14,90 (w tym herbata/kawa)/ ",
                    "lat": 50.0634323,
                    "lng": 19.9290817,
                    "food": "Śniadanie angielskie/ zestaw jajcarski",
                    "description":"Wszystko poprawnie, jak zawsze w tym miejscu bez pośpiechu (więc nie polecam umierającym z głodu). Marek wziął angielskie, a ja zestaw jajcarski - który jest jego mniejszą wersją. Dobra (i tańsza) opcja dla niejadków!"},
                { "id":"bococa",
                    "name":"Pan i Pani Smith",
                    "address": "ul. Krupnicza 14",
                    "cost": "22zł (w tym napój)/12,90 ",
                    "lat": 50.0634636,
                    "lng": 19.9300899,
                    "food": "Słodko mi/ Takie męskie",
                    "description":"Poprawnie, dżemy, konfitury, szynka... jednak jak na nowe miejsce na mapie Krakowa trochę rozczarowuje - śniadanie takie jak mogę z łatwością zrobić w domu. Plus za dobre pieczywo, podobno wypiekane na miejscu."},
                { "id":"bunkier",
                    "name":"Bunkier cafe",
                    "address": "pl. Szczepański 3a",
                    "cost": "15/19zł",
                    "lat": 50.0636829,
                    "lng": 19.9344611,
                    "food": "Jajka benedyktyńskie/Angielskie + napoje",
                    "description":"Tym razem zrezygnowałam ze zwykłego śniadania angielskiego i muszę przyznać, że ryzyko się opłaciło. Jajka benedyktyńskie w sosie holenderskim jakie dostałam w bunkrze były fenomenalne! Dodam tylko, że porcja była taka, że zmieściłam jeszcze deser, czyli facet może po godzinie być głodny. Ale warto."},
                { "id":"forum",
                    "name":"Forum przestrzenie",
                    "address": "Marii Konopnickiej 28",
                    "cost": "10-19zł",
                    "lat": 50.044775,
                    "lng": 19.936239,
                    "food": "",
                    "description":"Rozpisywać się nie będę, każdy dobry hipster już tu był i każdy to miejsce zna. A jakie było śniadanie nie napiszę, bo to jest jedyne miejsce, w którym nie możemy sobie nawet przypomnieć co jedliśmy. Więc chyba zwykłe."},
                { "id":"sphinx",
                    "name":"Sphinx",
                    "address": "ul. Rożańskiego 32",
                    "cost": "22,90zł (w tym kawa)",
                    "lat": 50.1091768,
                    "lng": 19.8446719,
                    "food": "New York, New York",
                    "description":"Jak na sieciówkę bardzo ciekawa oferta śniadaniowa, w dodatku wykonanie pierwsza klasa! Byliśmy trochę mało oryginalni z wyborem, ale uwielbiam pitę, bekon, sos musztardowo-miodowy... polecam, szczególnie jeśli jest to weekend shopinngu i i tak trzeba pojechać do centrum handlowego."},
                { "id":"camelot",
                    "name":"Camelot Cafe",
                    "address": "ul. św. Tomasza 17",
                    "cost": "16zł",
                    "lat": 50.0629387,
                    "lng": 19.9391784,
                    "food": "Kanapka z avocado której nazwy nie pamiętam",
                    "description":"Lubię avokado, więc i kanapka była w porządku, jednak czarujące i bardzo turystyczne miejsce winduje trochę cenę. Jeśli ktoś chce po prostu wyśmienicie napełnić brzuch w sobotni poranek - polecam inne miejsca."},
                { "id":"milkbar",
                    "name":"Milkbar Tomasza",
                    "address": "ul. św. Tomasza 24",
                    "cost": "około 20zł",
                    "lat": 50.0624251,
                    "lng": 19.9416217,
                    "food": "Śniadanie angielskie/jajka na szpinaku",
                    "description":"Miejsce nazywa się MilkBar i zaiste - jest tam ciasno, a w sobotni poranek również tłoczno. Za to w przeciwieństwie do barów mlecznych wcale nie jest szybko! Moje trochę negatywne nastawienie pewnie jest spowodowane tym, że jajka na rozgotowanym szpinaku zupełnie mi nie smakowały - ale w końcu sama je sobie wybrałam. Marek był w miarę zadowolony, znajomi, których tam spotkaliśmy i wzięli jakiś rodzaj jajecznicy, również nie marudzili. Więc nie odradzam, jednak na pewno to nie jest mój pierwszy wybór. No chyba że po imprezie - bo Milk Bar serwuje jedzenie śniadaniowe do wieczora!"},
                { "id":"klimaty",
                    "name":"Klimaty południa",
                    "address": "ul. św. Gertrudy 5",
                    "cost": "??",
                    "lat": 50.059677,
                    "lng": 19.93899,
                    "food": "-",
                    "description":"Miejsce ma u nas minusa. Na stronie wisi informacja, że otwierają o 9. Dla bezpieczeństwa przyjechaliśmy na śniadanie punkt 10, chwilę pomokliśmy na zewnątrz, ale widoczne przez szybę krzesła wystawione na stoliki nie wyglądały jakby miano nas wpuścić. Więc odpuściliśmy."},
                { "id":"charlotte",
                    "name":"Charlotte",
                    "address": "Plac Szczepański 2",
                    "cost": "17-25zł",
                    "lat": 50.0634716,
                    "lng": 19.9350056,
                    "food": "croissanty, kanapki",
                    "description":"Dobra miejscówka na randkę, wszystkie laski w niewytłumaczalny sposób lubią to miejsce. Śniadaniowo chyba jedyne miejsce w mieście gdzie można dostać musujące wino. Jedzenie jest bardzo dobre (moja ulubiona Croque-madame!), jednak zupełnie nie polecam w tłoczne dni - obsługa nigdy nie jest w stanie ogarnąć więcej niż trzech stolików na krzyż. Zdarzyło mi się czekać 30 minut na samo wzięcie zamówienia, a potem 25 na rachunek, na którym w dodatku były błędy i musieli go (znowu w takim samym czasie) poprawiać. Nasze sobotnie śniadanie też zakończyło się fiaskiem - Marek tak się wkurzył na czekanie na zebranie zamówienia, że zmieniliśmy miejsce. Więc wpadajcie w tygodniu, a jak koniecznie musicie zjeść coś francuskiego w weekend, to ja bym raczej szła do 'Le Petit France' na Tomasza."},
                { "id":"botanika",
                    "name":"Botanica",
                    "address": "ul. Bracka 9",
                    "cost": "22-23zł (w tym napoje)",
                    "lat": 50.0601389,
                    "lng": 19.9361293,
                    "photoSrc": "botanica.jpg",
                    "food": "Śniadanie włoskie, śniadanie angielskie",
                    "description":"Bardzo lubię to miejsce, zwłaszcza gdy wejdzie się do końca i schodkami na górę, na balkonik z ceglanym murkiem i przeszklonym dachem (z którego czasami w czasie deszczu trochę kapie, ale o dziwo to nie przeszkadza). Wielki plus za świeży sok do śniadania włoskiego, śniadanie angielskie mieszane, dużo fasolki i pyszne powidła, ale za to jajka sadzone... na twardo. "},

                { "id":"bal",
                    "name":"Bal",
                    "address": "Ślusarska 9",
                    "cost": "17zł + napoje",
                    "lat": 50.048383,
                    "lng": 19.9593309,
                    "food": "zestawy śniadaniowe",
                    "photoSrc": "bal.jpg",
                    "description":"Zamówiłam zestaw IV, czyli bejgel z 3 hummusami i twarożkiem. Byłam trochę sceptyczna do proporcji ilości smarowidła i pieczywa, ale hummusy były tak przepyszne, że zjadłam je praktycznie całe. Dodatkowo na talerzu jest zestaw warzyw, które można przegryzać - jestem zachwycona. Marka śniadanie z jajkami na bekonie (zestaw V) - poprawne."},
                { "id":"blueberry",
                    "name":"The BlueBerry Resto & Bar",
                    "address": "ul. Bocheńska 2a",
                    "cost": "14zł (+2zł napoje)",
                    "lat": 50.0486647,
                    "lng": 19.9430783,
                    "food": "Śniadanie angielskie",
                    "description":"Definitywnie jedna z najlepszych dostępnych proporcji jakości do ceny. W dodatku niesamowicie miła obsługa, kelner był po prostu szczerze uprzejmy, czym nas zupełnie oczarował."},
                { "id":"hamsa",
                    "name":"Hamsa",
                    "address": "ul. Szeroka 2",
                    "cost": "37zł (2 osoby) + napoje",
                    "lat": 50.0532175,
                    "lng": 19.9476005,
                    "food": "Mały mezze",
                    "photoSrc": "hamsa.jpg",
                    "description":"Nie trafiliśmy na bufet śniadaniowy, który dostępny jest tylko w weekendy, jednak talerz humusów oraz warzyw w połączeniu z przepysznym koktajlem i kawą beduińską uplasowały to miejsce bardzo wysoko, wśród naszych ulubionych."},
                { "id":"costa",
                    "name":"Costa Cafe",
                    "address": "ul. Floriańska 57",
                    "cost": "14zł",
                    "lat": 50.064726,
                    "lng": 19.9392182,
                    "photoSrc": "costa.jpg",
                    "food": "Jogurt z owocami i musli oraz Muffin",
                    "description":"Wylądowaliśmy w Coscie bo nic innego nie było jeszcze czynne. Jogurt i muffin to było definitywnie najlepsze połączenie jakie mogliśmy tam dostać. Odgrzewane kanapki (takie jak na lotniskach), są tam raczej słabe."},
                { "id":"szara",
                    "name":"Szara",
                    "address": "Rynek Główny 6",
                    "cost": "21zł",
                    "lat": 50.0615451,
                    "lng": 19.9366326,
                    "food": "Zestaw śniadaniowy I",
                    "photoSrc": "szara.jpg",
                    "description":"Jajka sadzone, bekon i pomidor z grilla, ser żółty, pieczywo, masło, dżem owocowy, kawa lub herbata i sok owocowy za 21 zł to dobra cena, jednak samo jedzenie po prostu zwykłe. Jestem trochę ciekawa zestawu z łososiem wędzonym, to może być coś ciekawego."},
                { "id":"piespianista",
                    "name":"Pies Pianista",
                    "address": "Ignacego Paderewskiego 4",
                    "cost": "15zł (w tym kawa/herbata)",
                    "lat": 50.0665927,
                    "lng": 19.9410103,
                    "food": "Prawie angielskie, Naleśnik z łososiem",
                    "photoSrc": "piespianista.jpg",
                    "description":"Bardzo dobry zestaw śniadaniowy w świetnej cenie. Ja wzięłam naleśnika z łososiem, który był jeszcze lepszy, a na końcu z jakiegoś powodu okazało się że dzisiaj wszystko jest za pół ceny. Fajne miejsce."},
                { "id":"jajownia",
                    "name":"Jajownia",
                    "address": "Dajwór 23",
                    "cost": "20zł (w tym kawa/herbata)",
                    "lat": 50.0507181,
                    "lng": 19.9493231,
                    "food": "Jajecznica i kanapki",
                    "photoSrc": "jajownia.png",
                    "description":"Duży wybór kanapeczek na przykład z kawiorem czy jajkami przepiórczymi (2,5) do tego jajecznica (7zł), na boczku lub papryce albo z jajek przepiórczych. Miejsce przyjemne, a państwo właściciele niesamowicie mili, tak że wychodząc mieliśmy poczucie, że było wręcz za tanio i że trzymamy za to miejsce kciuki."},
                { "id":"cava",
                    "name":"Bonjour Cava",
                    "address": "Warszawska 16",
                    "cost": "15zł (w tym sok)",
                    "lat": 50.0699394,
                    "lng": 19.9411833,
                    "food": "Słone śniadanie",
                    "photoSrc": "cava.jpg",
                    "description":"Knajpka specjalizująca się w pysznej kawie i tartach ma już trzy filie w Krakowie. W zestawie śniadaniowym jest sycący chlebuś, dowolnie przygotowane jajko oraz pasta. Nie mogłam zdecydować się na jedno smarowidło i dostałam miks - za co wielki plus!"},
                { "id":"plac_nowy",
                    "name":"Plac Nowy 1",
                    "address": "Plac nowy 1",
                    "cost": "17zł (w tym herbata lub kawa)",
                    "lat": 50.0514492,
                    "lng": 19.9432051,
                    "food": "Jajko na bagietce",
                    "photoSrc": "plac_nowy.jpeg",
                    "description":"Mistrzostwo świata! Bagietki z jajkiem, chorizzo, szczypiorkiem i innymi pysznościami. Sycące i smaczne w dodatku w dobrej cenie. Miejsce jest duże i dobrze urządzone, a obsługa uprzejma i szybka. Nowe ulubione?"},
                { "id":"papryczki",
                    "name":"Papryczki 5",
                    "address": "Mikołajska 5",
                    "cost": "18zł (bez napojów)",
                    "lat": 50.0612454,
                    "lng": 19.9392093,
                    "food": "Śniadanie śródziemnomorskie",
                    "photoSrc": "papryczki.jpg",
                    "description":"Jeśli jestem w stanie zjeść sama całą porcję, oznacza to albo że jest wyjątkowo przepyszna, albo że jest mała. Tutaj był to ten drugi przypadek. A szkoda, bo miejsce nadzwyczaj przyjemne."}

            ];

            data.forEach(function(restaurant) {
                map.addMarker({
                    lat: restaurant.lat,
                    lng: restaurant.lng,
                    title: restaurant.name,
                    infoWindow: {
                        content: getContent(restaurant)
                    }

                })
            })

            function getContent(restaurant) {
                var doc = document.getElementById('template').innerHTML
                        .replace('place.name', restaurant.name)
                        .replace('place.address', restaurant.address)
                        .replace('place.cost', restaurant.cost)
                        .replace('place.food', restaurant.food)
                        .replace('place.description', restaurant.description)

                if (restaurant.photoSrc) {
                    doc = doc.replace('place.photo', '<img src="../assets/photos/' + restaurant.photoSrc + '">')
                } else {
                    doc = doc.replace('place.photo', '')
                }


                return doc;
            }

        });
    </script>
    <script type="text/html" id="moment">
        <div class="map-review">
            <div class="map-review-header">
                <h1>Moment Resto Bar & Music</h1>
                <address>ul.Józefa 26</address>
            </div>
            <div class="map-review-info">
                <ul>
                    <li>
                        <strong>Koszt:</strong> 19zł + napoje
                    </li>
                    <li>
                        <strong>Jedliśmy:</strong> śniadanie angielskie
                    </li>
                </ul>
            </div>
            <div class="map-review-pros-cons clearfix">
                <div class="left-row">
                    <h2>Plusy</h2>
                    <ul>
                        <li>Kiełki <3</li>
                        <li>Wystrój</li>
                    </ul>
                </div>
                <div class="right-row">
                    <h2>Minusy</h2>
                    <ul>
                        <li>Boczek w dodatku węgielkowaty</li>
                        <li>Brak masła do tostów</li>
                        <li>Cena</li>
                    </ul>
                </div>
            </div>
            <div class="comments">
                Planuję tu jeszcze wrócić conajniej raz, na <i>Nasze śniadanie</i>: jajka z borowikami, croissant i ciemny chlebuś z powidłami brzmią niesamowicie przekonywująco
            </div>
        </div>
    </script>

    <script id="template" type="text/html">
        <div class="map-review">
            <div class="map-review-header">
                <h1>place.name</h1>
                <address>place.address</address>
            </div>
            <div class="map-review-pros-cons clearfix">
                <div class="map-review-info">
                    <ul>
                        <li>
                            <strong>Koszt:</strong> place.cost
                        </li>
                        <li>
                            <strong>Jedliśmy:</strong> place.food
                        </li>
                    </ul>
                </div>
            </div>
            <div class="comments">
                place.description
            </div>
            <div id="photo" class="food-photo">
                place.photo
            </div>
        </div>
    </script>
    <div class="row">
        <div id="basic_map" class="map col-md-7"></div>

        <div class="links col-md-2">
            <strong>Ulubione</strong><br/>
            <ul>
                <li><a href="#" class="pan-to-marker" data-id="31">Plac Nowy 1</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="24">The Blueberry Resto & Bar</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="1">Kolanko no 6</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="7">Jeff's Galeria Kazimierz</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="8">Wesoła Cafe</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="9">Trattoria Cichy Kącik</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="15">Bunkier Cafe</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="23">Bal</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="25">Hamsa</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="29">Jajownia</a><br/></li>
            </ul>
        </div>

        <div class="links col-md-2">
            <strong>Też dobre</strong><br/>
            <ul>
                <li><a href="#" class="pan-to-marker" data-id="6">Well done</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="3">Le scandale</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="2">Alchemia od kuchni</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="12">Bococa Bistro</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="0">Moment Resto Bar & Music</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="4">Bagelmama</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="5">Nova Resto Bar</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="10">Mercedes Cafe</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="11">Focha 42</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="13">Dynia Reso Bar</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="14">Pan i Pani Smith</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="16">Forum przestrzenie</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="17">Sphinx</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="19">Milkbar Tomasza</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="18">Camelot Cafe</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="20">Klimaty południa</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="21">Charlotte</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="22">Botanica</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="26">Costa</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="27">Szara</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="28">Pies Pianista</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="30">Bonjour Cava</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="32">Papryczki 5</a><br/></li>
            </ul>
        </div>
    </div>
</div>