<div style="padding-top:80px">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6NJEsNX4YCcFryorJjbHQymv6IrMn1fY"
        type="text/javascript">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.19/gmaps.min.js"></script>
    <script src="/assets/js/{{site.foodDataFile[site.active_lang]}}"></script>
    <script>
        window._myMap = null;
        $(document).ready(function(){
            var map = new GMaps({
                el: '#basic_map',
                lat: 50.054802,
                lng: 19.941271,
                zoom: 14
            });

            map.addControl({
                position: 'top_right',
                content: '{{site.nearBy[site.active_lang]}}',
                style: {
                    margin: '5px',
                    padding: '1px 6px',
                    border: 'solid 1px #717B87',
                    background: '#fff'
                },
                events: {
                    click: function(){
                        GMaps.geolocate({
                            success: function(position) {
                                map.setCenter(position.coords.latitude, position.coords.longitude);
                            },
                            error: function(error) {
                                alert('Geolocation failed: '+error.message);
                            },
                            not_supported: function() {
                                alert("Your browser does not support geolocation");
                            }
                        });
                    }
                }
            });

            map.addMarker({
                lat: 50.0511346,
                lng: 19.9459208,
                title: 'Moment',
                infoWindow: {
                    content: document.getElementById('moment').innerHTML
                }
            });

            var openInfoWindow = undefined

            window._myMap = map;
            $(document).on('click', '.pan-to-marker', function(e) {
                e.preventDefault();

                if (openInfoWindow !== undefined) {
                    openInfoWindow.close()
                }

                var id = $(this).data('id');
                var map = window._myMap;
                var markerInstance = map.markers[id];
                markerInstance.infoWindow.open(map.map, markerInstance);
                map.setCenter(markerInstance.position.lat(), markerInstance.position.lng())
                openInfoWindow = markerInstance.infoWindow
            })



            window._foodMarkers.forEach(function(restaurant) {
                map.addMarker({
                    lat: restaurant.lat,
                    lng: restaurant.lng,
                    title: restaurant.name,
                    infoWindow: {
                        content: getContent(restaurant)
                    }

                })
            })

            function getContent(restaurant) {
                var doc = document.getElementById('template').innerHTML
                        .replace('place.name', restaurant.name)
                        .replace('place.address', restaurant.address)
                        .replace('place.cost', restaurant.cost)
                        .replace('place.food', restaurant.food)
                        .replace('place.description', restaurant.description)

                if (restaurant.photoSrc) {
                    doc = doc.replace('place.photo', '<img src="{{site.photosPath[site.active_lang]}}' + restaurant.photoSrc + '">')
                } else {
                    doc = doc.replace('place.photo', '')
                }


                return doc;
            }

        });
    </script>
    <script type="text/html" id="moment">
        <div class="map-review">
            <div class="map-review-header">
                <h1>Moment Resto Bar & Music</h1>
                <address>ul.Józefa 26</address>
            </div>
            <div class="map-review-info">
                <ul>
                    <li>
                        <strong>Koszt:</strong> 19zł + napoje
                    </li>
                    <li>
                        <strong>Jedliśmy:</strong> śniadanie angielskie
                    </li>
                </ul>
            </div>
            <div class="map-review-pros-cons clearfix">
                <div class="left-row">
                    <h2>Plusy</h2>
                    <ul>
                        <li>Kiełki <3</li>
                        <li>Wystrój</li>
                    </ul>
                </div>
                <div class="right-row">
                    <h2>Minusy</h2>
                    <ul>
                        <li>Boczek w dodatku węgielkowaty</li>
                        <li>Brak masła do tostów</li>
                        <li>Cena</li>
                    </ul>
                </div>
            </div>
            <div class="comments">
                Planuję tu jeszcze wrócić conajniej raz, na <i>Nasze śniadanie</i>: jajka z borowikami, croissant i ciemny chlebuś z powidłami brzmią niesamowicie przekonywująco
            </div>
        </div>
    </script>

    <script id="template" type="text/html">
        <div class="map-review">
            <div class="map-review-header">
                <h1>place.name</h1>
                <address>place.address</address>
            </div>
            <div class="map-review-pros-cons clearfix">
                <div class="map-review-info">
                    <ul>
                        <li>
                            <strong>{{site.price[site.active_lang]}}:</strong> place.cost
                        </li>
                        <li>
                            <strong>{{site.whatWeAte[site.active_lang]}}:</strong> place.food
                        </li>
                    </ul>
                </div>
            </div>
            <div class="comments">
                place.description
            </div>
            <div id="photo" class="food-photo">
                place.photo
            </div>
        </div>
    </script>
    <div class="row">
        <div id="basic_map" class="map col-md-7"></div>

        <div class="links col-md-2">
            <strong>{{site.favourite[site.active_lang]}}</strong><br/>
            <ul>
                <li><a href="#" class="pan-to-marker" data-id="31">Plac Nowy 1</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="29">Jajownia</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="34">Resto Illuminati</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="25">Hamsa</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="16">Forum przestrzenie</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="1">Kolanko no 6</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="7">Jeff's Galeria Kazimierz</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="8">Wesoła Cafe</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="9">Trattoria Cichy Kącik</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="15">Bunkier Cafe</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="23">Bal</a><br/></li>

            </ul>
        </div>

        <div class="links col-md-2">
            <strong>{{site.visited[site.active_lang]}}</strong><br/>
            <ul>
                <li><a href="#" class="pan-to-marker" data-id="33">Sissi</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="28">Pies Pianista</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="30">Bonjour Cava</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="24">The Blueberry Resto & Bar</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="36">Włoska</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="32">Papryczki 5</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="6">Well done</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="3">Le scandale</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="2">Alchemia od kuchni</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="12">Bococa Bistro</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="0">Moment Resto Bar & Music</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="4">Bagelmama</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="5">Nova Resto Bar</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="10">Mercedes Cafe</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="11">Focha 42</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="13">Dynia Reso Bar</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="14">Pan i Pani Smith</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="17">Sphinx</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="19">Milkbar Tomasza</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="18">Camelot Cafe</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="20">Klimaty południa</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="21">Charlotte</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="22">Botanica</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="26">Costa</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="27">Szara</a><br/></li>
                <li><a href="#" class="pan-to-marker" data-id="35">Bistro 11</a><br/></li>
            </ul>
        </div>
    </div>
    <hr/>
    <h2>
        {{site.shortcut[site.active_lang]}}
    </h2>
    <p>
        {{site.best[site.active_lang]}}: <a href="#" class="pan-to-marker" data-id="31">Plac Nowy 1</a>
    </p>
    <p>
        {{site.biggest[site.active_lang]}}: <a href="#" class="pan-to-marker" data-id="1">Kolanko no 6</a>
    </p>
    <p>
        {{site.served[site.active_lang]}}: <a href="#" class="pan-to-marker" data-id="25">Hamsa</a>
    </p>
    <p>
        {{site.homely[site.active_lang]}}: <a href="#" class="pan-to-marker" data-id="29">Jajownia</a>
    </p>
</div>