<header class="site-header">

  <div class="wrapper">


  <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
  <nav class="site-nav">
    <div class="trigger">
      {% for node in site.pages %}
        {% if node.lang contains site.active_lang %}
          <a class="page-link" href="{{site.baseurl}}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endfor %}
      {% for tongue in site.languages %}
        <a {% if tongue == site.active_lang %}class="page-lang-active"{% else %}class="page-lang" {% endif %} href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ tongue }}{{page.url}} {% endif %}">{{ tongue }}</a> |
      {% endfor %}
    </div>
  </nav>

  </div>

</header>
