/**
 * Site header
 */
.site-header {
    border-top: 1px solid $brand-color;
    background-color: $grey-color;
    border-bottom: 1px solid $brand-color;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color: $text-color-light;

    &:hover {
        color: $text-color-light;
    }
}

nav {
    .nav-wrapper {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    a.page-link.active:after {
        content: "";
        width: 6px;
        height: 6px;
        position: absolute;
        bottom: -1px;
        display: block;
        border-color: transparent;
        border-width: 6px;
        border-style: solid;
        border-bottom-color: white;
        z-index: 9999;
        left: 50%;
        margin-left: -3px;
    }
    ul, .nav {
        float: right;
    }

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color-light !important;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.box {
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    height: 25em !important;
    margin: 1em;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        max-height: 10em;
    }
    &.photo-bg {
        background-image: url('/assets/photos/home.jpg');
    }


}

.post-list {
    margin-left: 0;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

a.post-link {
    font-size: 1.5em;
}

.post-link.medium {
    display: block;
    position: relative;
    img {
        -webkit-filter: opacity(.8);
        filter: opacity(.8);
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, .8);
        display: none;
        z-index: 9;
        background-image:url("../assets/images/medium.png");
        background-position: center;
        background-size: 60%;
        background-repeat: no-repeat;
    }

    &:hover {

        &::before {
            display: block;
        }
    }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
    About
*/

.about-image {
    float: right;
    max-width: 30%;
}

/**
    Map
*/
.map {
    min-height: 400px;
    min-width: 400px;
    height: 50em;
}

.map-review {
    width: 300px;
}

.map-review ul {
    margin: 0;
}

.map-review-header h1 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 0;
}

.map-review-pros-cons {
    border-width: 1px 0;
    border-style: solid;
    border-color: #ccc;
    padding: 10px 0;
    line-height: 22px;
    margin-top: 10px;
}

.map-review-pros-cons h2 {
    font-size: 16px;
    margin: 0 0 5px 0;
}

.map-review-pros-cons ul li {
    margin-bottom: 5px;
}

.map-review-pros-cons .left-row {
    float: left;
    width: 50%;
}

.map-review-pros-cons .right-row {
    float: left;
    width: 50%;
}

.map-review .comments {
    margin-top: 10px;
    line-height: 22px;
}

.map-review {
    max-width: 450px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.links{
    float: left;
    width: 10%;
    margin-left: 30px;
}
.map{
    float: left;
}
.pan-to-marker {
    color: #999999;
}
.breakfast {
    margin: 60px;
}
.food-photo img {
    max-width: 100%;
    margin-top: 10px;
}

@media screen and (max-width: 480px) {
    body {
        background-color: lightgreen;
    }
}